{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eeeee1;">
  <a href="#"><img src="{% static 'img/logo.gif' %}" width="100"></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link my-nav" href="/">Home</a>
      <a class="nav-item nav-link my-nav" href="#">About Gentor</a>
      <a class="nav-item nav-link my-nav" href="#">Contact Us</a>
    </div>
  </div>
</nav>